{% extends 'book/book.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>IT WORKS FROM ADD</h1>
    <p></p>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto aspernatur, culpa dolor
        ducimus expedita hic in, inventore laboriosam maiores minus, neque omnis repellat repudiandae similique
        suscipit ut veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto
        aspernatur, culpa dolor ducimus expedita hic in, inventore laboriosam maiores minus, neque omnis repellat
        repudiandae similique suscipit ut veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A aliquam architecto aspernatur, culpa dolor ducimus expedita hic in, inventore laboriosam maiores minus,
        neque omnis repellat repudiandae similique suscipit ut veritatis?Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. A aliquam architecto aspernatur, culpa dolor ducimus expedita hic in, inventore laboriosam
        maiores minus, neque omnis repellat repudiandae similique suscipit ut veritatis?Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. A aliquam architecto aspernatur, culpa dolor ducimus expedita hic in,
        inventore laboriosam maiores minus, neque omnis repellat repudiandae similique suscipit ut veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto aspernatur, culpa dolor
        ducimus expedita hic in, inventore laboriosam maiores minus, neque omnis repellat repudiandae similique
        suscipit ut veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto
        aspernatur, culpa dolor ducimus expedita hic in, inventore laboriosam maiores minus, neque omnis repellat
        repudiandae similique suscipit ut veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A aliquam architecto aspernatur, culpa dolor ducimus expedita hic in, inventore laboriosam maiores minus,
        neque omnis repellat repudiandae similique suscipit ut veritatis?Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. A aliquam architecto aspernatur, culpa dolor ducimus expedita hic in, inventore laboriosam
        maiores minus, neque omnis repellat repudiandae similique suscipit ut veritatis?Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. A aliquam architecto aspernatur, culpa dolor ducimus expedita hic in, inventore
        laboriosam maiores minus, neque omnis repellat repudiandae similique suscipit ut veritatis?</p>

    <form action="">
        <p>Please insert ISBN: <input type="text" name="isbn"></p>
        <p>Please insert Author: <input type="text" name="author"></p>
        <p>Please insert Title: <input type="text" name="title"></p>
        <p><input type="submit" name="submit" ty></p>
    </form>
{% endblock %}