{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/book.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}"><button>Back</button></a>
{% endblock %}
